<% provide(:title, 'Help') %>
    <h1>Help page</h1>
    <p>In work</p>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class = "nav pull-left fixed-top">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Contacts", contact_path %></li>
          <li class = "active"><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
 
